<! DOCKTYPE html>
<html lang ='en'>
    <head>
        <meta charset="UTF-8">
        <title> <%- locals.title %></title>
        <meta name="description" content="<%- locals.description %>">
    </head>
    <body>
        <%- body %>
    </body>
</html>