<div class="container-fluid container-fluid-custom py-md-5 mb-4">
    <main>
        <div class="row py-md-5 text-center jsutify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="dislay-2 fw-bold md-4 position-relative home-title">
                    Page not found
                </h1>

                <a href="/about" class="btn btn-primary btn-lg">Let's explore</a>
            </div>


        </div>
    
    </main>

</div>